body{
  font-family: lato, sans-serif;
}

.pause-anim * {
  transition: none;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.landing-page-container{

  background-image: url('./bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background: no-repeat;  */

  height: 100vh;
  min-height: 750px;

}

.landing-page-gradient{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
  /* background-color: white; */
  color: white;
}

.debsoc-logo{
  margin-top: 40px;
  height: 250px;
  width: 250px;

  animation-name: debsoclogo;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@font-face {
  font-family: 'title';
  src: url('./arial.ttf')
}

@font-face{
  font-family: 'title1';
  src: url('./times-ro.ttf');
}

.message{
  font-family: title1;
  
  margin-top: 10px;
  font-size: 40px;

  font-weight: lighter;

  animation-name: message;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.presents{
  font-style: italic;
  font-size: 30px;
  margin-top: 20px;

  animation-name: presents;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
}

.title{
  font-family: title1;

  margin-top: 15px;

  font-size: 100px;

  animation-name: title;  
  animation-duration: 2s;
  animation-iteration-count: 1;

}

.latest-container{
  padding-inline: 10px;
  height: 100%;
  position: relative;
  margin-bottom: 50px;
}

.issue{
  font-family: 'lato', sans-serif;
  margin-top: 10px;
  font-size: 3.5rem;
  font-weight: bold;
}

.latest-poster{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  height: 600px;
  width: 400px;
}

.latest .date{
  font-family: 'lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.latest .description{
  font-family: lato, sans-serif ;
  font-size: 1.3rem; 
  font-weight: 800;
}

.latest .read{
  margin-top: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.latest .read a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
  text-emphasis: none;
}

.footer{
  font-size: 1rem;
  height: fit-content;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}
/* 
.fa-linkedin{
  color: #007bb5;
}

.fa-instagram{
  color: #6f00ff;
}

.fa-twitter{
  color: #55ACEE;
} */


.fa:hover {
  color: white;
  opacity: 0.7;
}

/* Media Queries */

@media (max-width: 1200px){

  .landing-page-container{
    height: 700px;
  }

  .title{
    font-size: 60px;
  }

  .presents{
    font-size: 20px;
  }

  .message{
    font-size: 30px;
  }
}

@media (max-width: 800px){

  .latest-poster{
    height: unset;
    width: 100%;
  }

  .landing-page-container{
    height: 700px;
  }

  .title{
    font-size: 35px;
  }

  .presents{
    font-size: 15px;
  }

  .message{
    font-size: 22px;
  }
}

/* Scroll Animation */

.link-to-latest{
  text-decoration: none;
  text-emphasis: none;
  color: white;

  font-size: 20px;

  letter-spacing: 1px;
}

.link-to-latest:hover{
  text-emphasis: none;
  text-decoration: none;
  color: white;
}

.scroll-down-container {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: white;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* preLoader */

#pre-loader{

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;

  background: black;

  z-index: 100;
}

#pre-loader div{
  width: 100%;

  height: 100vh;

  position: relative;

  text-align: center;

  background: url('./pre.png')
  center no-repeat;

  background-size: contain;
}

@keyframes debsoclogo{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@keyframes message{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes presents{
  0%{
    transform: scale(0);
  }

  50%{
    transform: scale(0);
  }

  100%{
    opacity: 1;
  }
}

@keyframes title{
  0%{
    margin-top: 100%;
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}